{% extends 'base.html' %}
{% load static %}
{% block title %}Users - Detailed List{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title mt-3">Users</h1>
    <table class="table table-sm mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Active</th>
                <th>Time Zone</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Zip Code</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users_lst %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>
                {% if user.age %}
                {{ user.age }}
                {% endif %}
            </td>
            <td>
                {% if user.gender %}
                {{ user.gender }}
                {% endif %}
            </td>
            <td>{{ user.email }}</td>
            <td>{{ user.active }}</td>

            <td>
                {% if user.timezone %}
                {{ user.timezone }}
                    {% endif %}
            </td>
            <td><ul>
                {% for address in user.address.all %}
                    {% if address.address %}
                        <li>{{ address.address }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </td>
            <td><ul>
                {% for address in user.address.all %}
                    {% if address.city %}
                        <li>{{ address.city }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </td>
            <td><ul>
                {% for address in user.address.all %}
                    {% if address.state %}
                    <li>{{ address.state }}</li>
                {% endif %}
                {% endfor %}
                </ul>
            </td>
            <td><ul>
                {% for address in user.address.all %}
                    {% if address.country %}
                        <li>{{ address.country }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </td>
            <td><ul>
                {% for address in user.address.all %}
                    {% if address.zip_code %}
                        <li>{{ address.zip_code }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<link rel="stylesheet" href="{% static 'profiles/css/users.css' %}">

<style>
table tr td ul {
    list-style:none;
    padding-left: 0px;

}

.container {
    margin-left: 0px;
}

table tr td ul li {
    white-space: nowrap;
}
</style>
{% endblock %}
